/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	}
body {
	background: #FFFFFF;
	direction: ltr;
}



#wraper {
	margin: 0px;
	clear:both;
	width:100%;
}
/* header*/
#header_bg {
	width:100%;
	margin:0px auto;
	clear:both;
	height: 143px;
	float:left;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#687484;
}
#header {
	width:960px;
	margin:10px auto;
	height: 123px;
	}
.logo{
	width:338px;
	height:130px;
	background:url(images/logo.png) no-repeat;
	position:relative;
	float:left;
}
.logo a{
	width:338px;
	height:130px;
	border:none;
	display:block;
}

.navbar {
	width:500px;
	height:14px;
	float:right;
	margin:110px 0px 0 0px;
	}
.navbar ul{
	float:right;
}
.navbar ul li{
	float: left;
	list-style:none;
	height:14px;
	display: inline;
}

.navbar ul li a{
	float: left;
	text-decoration:none;
	padding:0px 8px 0px 8px;
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
	font-weight:bold;
	color:#242323;
}
.navbar ul li a:hover,.navbar ul li a.current{
	overflow:hidden;
	color:#F00;
	font-weight:bold;
	}
/*Content*/
#content_bg {
	width:100%;
	text-align: center;
	margin:0px auto;
	float:left;
	background-color:#8c9cb2;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#687484;
	
}
.content {
	text-align: left;
	width:960px;
	margin:0 auto;
	}
.content a {
	text-decoration: none;
	color: blue;
}
.content a:visited {
	text-decoration: none;
	color: blue;
}
.left_cont{
	width:760px;
	float:left;
	clear:both;
	margin:0 0 25px 0;
}
.usertitle{
	width:960px;
	float:left;
	height:20px;
	float:left;
	padding-bottom: 5px;
}
.usertitle h1{
	float:left;
	color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	margin:0px 5px 0 0 ;
}
.usertitle h2{
	float:left;
	color:#ff0000;
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	margin:0px 0 0 5px ;
}
.weekstrip{
	width:100px;
	float:left;
	margin:5px 3px 2px 3px;
}
.weekst_tit{
	float:left;
	width:94px;
	height:18px;
	border-bottom-width:1px;
	background-color:#616aa2;
	border:#4a535e solid 1px;
	margin:2px auto;
}
.weekst_tit h1{
	color:#000;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	margin:0px;
}
.weekst_box{
	float:left;
	width:94px;
	border-bottom-width:1px;
	background-color:#616aa2;
	border:#4a535e solid 1px;
	margin:10px auto;
}
.weeklist{
	width:94px;
	margin:0 0 0 2px;
	line-height:15px;
	float:left;
}
.weeklist li{
	float:left;
	margin:1px 4px 2px 4px;
	font-family:"Times New Roman", Times, serif;
	font-size:11px;
	color:#000;
	list-style:none;
	font-weight:bold;
}
.weeklist li a{
    padding:2px 0 2px 8px;
	color:#000;
	text-decoration:none;	
}
.weeklist li a:hover{
	color:#FFF;
	text-decoration:underline;	
}
.dayeditform{
	float:left;
	margin:35px 0 0 45px;
	background-color:#c8d0da;
	border:#434b55 solid 1px;
	width:630px;
}

.dayeditform h2{
	color:#000;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	float:left;
	width:600px;
	margin:3px 0 10px 10px;
}
.editForm{
	padding:0 18px 25px 16px;
	
}
.editForm h6{
	width:550px;
	float:left;
	margin:5px 0 20px 0;
}
.editForm .chkinput{
	width:18px;
	height:18px;
	background-color:#c2cbd6;
	border:#4a535e solid 1px;
	margin:0px 30px 0px 2px;
	float:left;
	}
.editForm .formTxt{
	font-family:"Times New Roman", Times, serif;
	font-size:14px; font-weight:bold;
	color:#000;
	line-height:18px;
	width:250px;
	display:block;
	float:left;
	}
.editForm p{
	font-family:"Times New Roman", Times, serif;
	font-size:14px; font-weight:bold;
	line-height:18px;
	width:250px;
	display:block;
	float:left;
	}
#loginpg_bg{
	width:100%;
	margin:75px auto;
	height:352px;
}
.loginpg {
	width:100%;
	background:url(images/logo2.png) no-repeat;
	height:352px;
	width:960px;
	margin:0px auto;
	z-index:2;
	}
.loginform{
	width:100%;
	background:url(images/back_bg.png) repeat;
	border:#000000 solid 1px;
	height:260px;
	z-index:50;
	position:absolute;
	top:167px;
}
.logForm{
	margin:75px auto;
	width:700px;
}
.logForm h6{
	width:600px;
	float:left;
	margin:10px 0 10px 0;
}
.logForm p{
	float:right;
	margin:3px 0 0 0;
}
.loginformText{
	font-family:"Times New Roman", Times, serif;
	font-size:14px; font-weight:bold;
	color:#000;
	line-height:18px;
	width:125px;
	display:block;
	margin:5px 0 5px 0;
	float:left;
	}
.logForm .loginput{
	width:450px;
	background-color:#eeeeee;
	border:#000000 solid 1px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px; color:#000000;
	padding:2px; margin:0;
	filter:alpha(opacity=65);
 	opacity:0.65;
	float:left;
	}
.logformsubmit{
	width:75px;
	height:25px;
	background-color:#656a71;
	border:#4a535e solid 1px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px; color:#000000; font-weight:bold;
	padding:2px 5px 2px 5px;
	margin:0px 55px 0 0;
	float:right;
}
.accForm{
	padding:0 18px 15px 16px;
}
.accForm h6{
	width:400px;
	float:left;
	margin:5px 0 0 0;
}
.accForm p{
	float:right;
	margin:3px 0 0 0;
}
.accForm p a{
	font-family:"Times New Roman", Times, serif;
	font-size:14px; font-weight:bold;
	color:#000;
	line-height:18px;
	text-decoration:none;
}
.accForm p a:hover{
	color:#F00;
	text-decoration:underline;
}
.formText{
	font-family:"Times New Roman", Times, serif;
	font-size:14px; font-weight:bold;
	color:#000;
	line-height:18px;
	width:125px;
	display:block;
	margin:5px 0 5px 0;
	float:left;
	}
.formsubmit{
	width:75px;
	height:25px;
	background-color:#656a71;
	border:#4a535e solid 1px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px; color:#000000; font-weight:bold;
	padding:2px 5px 2px 5px;
	float:right;
}
.accForm .input3{
	width:190px;
	background-color:#c2cbd6;
	border:#4a535e solid 1px;
	font-family:"Times New Roman", Times, serif;
	font-size:14px; color:#000000;
	padding:2px; margin:0;
	float:left;
	}
.accForm .input2{
	width:18px;
	height:18px;
	background-color:#c2cbd6;
	border:#4a535e solid 1px;
	float:left;
	}

.right_cont{
	width:180px;
	float:right;
	background-color:#b9c2d0;
	border:#4a535e solid 1px;
	margin-left: 20px;
}
.right_cont h2{
	color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	margin:5px 0px 5px 0 ;
}
.right_cont p{
	color:#000000;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	line-height:20px;
	margin:10px auto;
	padding:2px 8px 20px 8px;
}

/* Bottom bar*/
#bottombar_bg {
	width:100%;
	margin:0px auto;
	clear:both;
	float:left;
	background-color:#656a71;
}
.bottomcontent {
	width:1080px;
	margin:5px auto;
	overflow:auto;
	}
.weekbox{
	width:210px;
	float:left;
	margin:2px 3px 2px 3px;
}
.weektitle{
	width:210px;
	height:16px;
	background-color:#bdbfc2;
	border:#4a535e solid 1px;
	color:#000;
	font-family:"Times New Roman", Times, serif;
	font-size:11px; font-weight:normal;
}
.weekbotbx{
	width:210px;
	background-color:#bdbfc2;
	border:#4a535e solid 1px;
	margin:3px auto;
	overflow: auto;
}
.daybox{
	width:26px;
	margin:2px 2px 5px 1px;
	float:left;
	border-left-style:dotted;
	border-left-width:1px;
	border-left-color:#687484;
}
.user{
	line-height:12px;
	clear:both;
}
.user label{
	margin:1px 4px 0 4px;
	font-family:"Times New Roman", Times, serif;
	font-size:11px;
	color:#000;
	list-style:none;
	font-weight:bold;
}
.user li{
	margin:0px 1px 0 2px;
	list-style:none;
}
.user li a{
	font-family:"Times New Roman", Times, serif;
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}
.user li a:hover{
	text-decoration:underline;
}
/*Footer*/
#footer_bg {
	width:100%;
	margin:0px auto;
	clear:both;
	height: 45px;
	float:left;
	background-color:#4a535f;
	margin-top: 20px;
}
.footer {
	width:960px;
	margin:0 auto;
	}
.month_nav{
	padding:10px 2px 2px 2px;
	color:#FFF;
}
.month_nav a{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	color:#FFF;
}
.month_nav a:visited {
	color: #FFF;
}
.month_nav i{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	color:#F00;
}

body {
		
}


h9 {
	display: block;
	background: #FFF27D;
	width: 100%;
	font-size: 13pt;
}

table {
	text-align: left;
	border: 1px solid #000000;
	border-collapse: collapse;
}
table.invisible {
	border: none;
}
td {
	padding-left: 15px;
}

table#weekly {
	border: 1px solid #000000;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
table#weekly tr.odd td{
	background-color: #C7CAFB;
}

table#weekly tr.even td{
	background-color: #E8E9FA;
}

table#weekly td{
	border: 1px solid #000000;
	text-align: center;
	padding: 5px;
	width: 60px;
}
input.hour {
	width: 100%;
	text-align: center;
	border: none;

}
table#weekly td.hour {
	width: 100px;
}

#cal_wrapper {
	width: 100%;
	margin: auto;
	text-align: center;
}

table#month {
	border: 1px solid #000000;
	border-collapse: collapse; 
	margin: 0px;
	float: left;
	margin-bottom: 10px;
} 
#month td {
	border: 1px solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;	
	width: 25px;
} 


table#key {
	border: none;
}
#key td {
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	
	
}
#key td#w {
	background-color: blue;
	height: 25px;
	width: 10px;
	
}
#key td#a {
	background-color: red;
	height: 25px;
	width: 10px;
}
#key td#n {
	background-color: grey;
	height: 25px;
	width: 10px;
}


a.cell {
	display: block;
	width: 100%;
	height: 25px;
}
#hours {
	margin-top: 15px;
	text-align: center;
	border: 1px solid #000000;
	border-collapse: collapse;
}

#hours td {
	vertical-align:middle;
	width: 150px;
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px;
}
#hours td.title {
	font-weight: bold;
}
td.working {
	background-color: blue;
	height: 25px;
	
}
td.available {
	background-color: red;
	height: 25px;
}
td.none {
	background-color: grey;
	height: 25px;
}
form {
	padding: 0px;
	margin: 0px;
}
.available_button {
	padding: 0px;
	height: 25px;
	width: 100%;
	display: block;
	background-color: red;
	border: none;
	margin: 0px;
}
.working_button {
	padding: 0px;
	height: 25px;
	width: 100%;
	display: block;
	background-color: blue;
	border: none;
	margin: 0px;
}
table#admin td{
	text-align: center;
	border: 1px solid #000000;
	padding: 5px;
}
a.tooltip  span{
	display:none;
	padding:2px 3px;
	margin-left:8px;
	
}
a.tooltip:hover  span{
	display:inline;
	position:absolute;
	background:#FBFBA0;
	border:1px dotted #000000;
	color:#000000;
}